<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Covid-19</h1>
        </a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/About">About</a></li>
                <li><a routerLink="/Precaution">Precaution</a></li>
                <li><a routerLink="/Curative">Curative</a></li>
                <li><a routerLink="/Contact" class="active">Contact</a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
<!-- End Header -->
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="contact d-flex align-items-center">
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a routerLink="">Home</a></li>
                <li>Contact</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope"
            viewBox="0 0 16 16">
            <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
        </svg>
        <p id="mail">
            mcagdasbalci@gmail.com
        </p>
    </div>
</section><!-- End About Us Section -->
<!-- ======= Footer  ======= -->
<footer class="footer ">
    <div id="footer" class="container-fluid text-center">
        <div class="row  position-absolute top-50 start-50 translate-middle ">
            <div>
                <span>
                    Design by Murat Çağdaş BALCI
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->