<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Covid-19</h1>
    </a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/About" class="active">About</a></li>
        <li><a routerLink="/Precaution">Precaution</a></li>
        <li><a routerLink="/Curative">Curative</a></li>
        <li><a routerLink="/Contact">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
<!-- End Header -->
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="about d-flex align-items-center">
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a routerLink="">Home</a></li>
          <li>About</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->
  <!-- ======= Knowledge Section ======= -->
  <section class="knowledge">
    <div class="container">
      <div class="row gy-4">
        <div class="container-fluid  order-lg-first">
          <h3>ABOUT COVID-19</h3>
          <p>
            Coronavirus disease 2019 (COVID-19) is a contagious disease caused by a virus, the severe acute respiratory
            syndrome coronavirus 2 (SARS-CoV-2).
            The first known case was identified in Wuhan, China, in December 2019.
            The disease quickly spread worldwide, resulting in the COVID-19 pandemic.
            The symptoms of COVID‑19 are variable but often include fever,cough, headache,fatigue, breathing
            difficulties, loss of smell, and loss of taste.
            Symptoms may begin one to fourteen days after exposure to the virus. At least a third of people who are
            infected do not develop noticeable symptoms.
            Of those who develop symptoms noticeable enough to be classified as patients, most (81%) develop mild to
            moderate symptoms (up to mild pneumonia),
            while 14% develop severe symptoms (dyspnea, hypoxia, or more than 50% lung involvement on imaging), and 5%
            develop critical symptoms (respiratory failure,
            shock, or multiorgan dysfunction).Older people are at a higher risk of developing severe symptoms.
            Some people continue to experience a range of effects (long COVID) for months after recovery, and damage to
            organs has been observed.
            Multi-year studies are underway to further investigate the long-term effects of the disease.
            COVID‑19 transmits when people breathe air contaminated by droplets and small airborne particles containing
            the virus.
            The risk of breathing these is highest when people are in close proximity, but they can be inhaled over
            longer distances, particularly indoors.
            Transmission can also occur if contaminated fluids are splashed or sprayed in the eyes, nose, or mouth, or,
            more rarely, via contaminated surfaces.
            People remain contagious for up to 20 days and can spread the virus even if they do not develop symptoms.
            Testing methods for COVID-19 to detect the virus's nucleic acid include real-time reverse transcription
            polymerase chain reaction (rRT‑PCR),
            transcription-mediated amplification,and reverse transcription loop-mediated isothermal amplification
            (RT‑LAMP)from a nasopharyngeal swab.
            Several COVID-19 vaccines have been approved and distributed in various countries, which have initiated mass
            vaccination campaigns.
            Other preventive measures include physical or social distancing, quarantining, ventilation of indoor spaces,
            use of face masks or coverings in public,
            covering coughs and sneezes, hand washing, and keeping unwashed hands away from the face. While work is
            underway to develop drugs that inhibit the virus,
            the primary treatment is symptomatic. Management involves the treatment of symptoms through supportive care,
            isolation, and experimental measures.
          </p>
          <h4>Signs and Symptoms</h4>
          <ul>
            <li>
              <p>
                The symptoms of COVID-19 are variable depending on the type of variant contracted, ranging from mild
                symptoms to a potentially fatal illness.
                Common symptoms include coughing, fever, loss of smell (anosmia) and taste (ageusia), with less common
                ones including headaches, nasal congestion and runny nose,
                muscle pain, sore throat, diarrhea, eye irritation,and toes swelling or turning purple,and in moderate
                to severe cases, breathing difficulties.
                People with the COVID-19 infection may have different symptoms, and their symptoms may change over time.
                Three common clusters of symptoms have been identified:
                one respiratory symptom cluster with cough, sputum, shortness of breath, and fever; a musculoskeletal
                symptom cluster with muscle and joint pain, headache,
                and fatigue; and a cluster of digestive symptoms with abdominal pain, vomiting, and diarrhea.
                In people without prior ear, nose, or throat disorders, loss of taste combined with loss of smell is
                associated with COVID-19 and is reported in as many as
                88% of symptomatic cases.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- End Knowledge Section -->