<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Covid-19</h1>
        </a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/About">About</a></li>
                <li><a routerLink="/Precaution">Precaution</a></li>
                <li><a routerLink="/Curative" class="active">Curative</a></li>
                <li><a routerLink="/Contact">Contact</a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
<!-- End Header -->
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="curative d-flex align-items-center">
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a routerLink="">Home</a></li>
                    <li>Curative</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Knowledge Section ======= -->
    <section class="knowledge">
        <div class="container ">
            <div class="row gy-4 ">
                <div class="container-fluid  order-lg-first ">
                    <h3>TREATMENT</h3>
                    <P>
                        Although several medications have been approved in different countries as of April 2022, not all
                        countries have these medications.
                        Patients with mild to moderate symptoms who are in the risk groups can take
                        nirmatrelvir/ritonavir (marketed as Paxlovid) or remdesivir,
                        either of which reduces the risk of serious illness or hospitalization.
                        In the US, the Biden Administration COVID-19 action plan includes the Test to Treat initiative,
                        where people can go to a pharmacy, take a COVID test,
                        and immediately receive free Paxlovid if they test positive.Highly effective vaccines have
                        reduced mortality related to SARS-CoV-2;
                        however, for those awaiting vaccination, as well as for the estimated millions of
                        immunocompromised persons who are unlikely to respond robustly to vaccination,
                        treatment remains important.The cornerstone of management of COVID-19 has been supportive care,
                        which includes treatment to relieve symptoms, fluid therapy,
                        oxygen support and prone positioning as needed, and medications or devices to support other
                        affected vital organs.
                        Most cases of COVID-19 are mild. In these, supportive care includes medication such as
                        paracetamol or NSAIDs to relieve symptoms (fever, body aches, cough),
                        proper intake of fluids, rest, and nasal breathing.Good personal hygiene and a healthy diet are
                        also recommended.
                        As of April 2020 the U.S. Centers for Disease Control and Prevention (CDC) recommended that
                        those who suspect they are carrying the virus isolate themselves at
                        home and wear a face mask.As of November 2020 use of the glucocorticoid dexamethasone had been
                        strongly recommended in those severe cases treated
                        in hospital with low oxygen levels, to reduce the risk of death.Noninvasive ventilation and,
                        ultimately, admission to an intensive c
                        are unit for mechanical ventilation may be required to support breathing.Extracorporeal membrane
                        oxygenation (ECMO) has been used to address respiratory failure,
                        but its benefits are still under consideration.Some of the cases of severe disease course are
                        caused by systemic hyper-inflammation, the so-called cytokine storm.
                    </P>
                    <h4>Vaccine</h4>
                    <ul>
                        <li>
                            <p>
                                A COVID‑19 vaccine is a vaccine intended to provide acquired immunity against severe
                                acute
                                respiratory syndrome coronavirus 2 (SARS‑CoV‑2),
                                the virus that causes coronavirus disease 2019 (COVID‑19).
                                Prior to the COVID‑19 pandemic, an established body of knowledge existed about the
                                structure
                                and function of
                                coronaviruses causing diseases like severe acute respiratory syndrome (SARS) and Middle
                                East
                                respiratory syndrome (MERS).
                                This knowledge accelerated the development of various vaccine platforms during early
                                2020.
                                The initial focus of SARS-CoV-2 vaccines was on preventing symptomatic, often severe
                                illness.
                                In January 2020, the SARS-CoV-2 genetic sequence data was shared through GISAID, and by
                                March 2020, the global pharmaceutical industry
                                announced a major commitment to address COVID‑19.
                                In 2020, the first COVID‑19 vaccines were developed and made available to the public
                                through
                                emergency authorizations and conditional approvals.
                                Initially, most COVID‑19 vaccines were two-dose vaccines, with the sole exception being
                                the
                                single-dose Janssen COVID-19 vaccine.
                                owever, immunity from the vaccines has been found to wane over time, requiring people to
                                get
                                booster doses of the vaccine to maintain protection
                                against COVID‑19.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End Knowledge Section -->