<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Covid-19</h1>
    </a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/About">About</a></li>
        <li><a routerLink="/Precaution" class="active">Precaution</a></li>
        <li><a routerLink="/Curative">Curative</a></li>
        <li><a routerLink="/Contact">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
<!-- End Header -->
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="precaution d-flex align-items-center">
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a routerLink="">Home</a></li>
        <li>Precaution</li>
      </ol>
    </div>
  </nav>
</div><!-- End Breadcrumbs -->
<!-- ======= Knowledge Section ======= -->
<section class="knowledge">
  <div class="container">
    <div class="row gy-4">
      <div class="container-fluid  order-lg-first">
        <h3>PREVENTION</h3>
        <p>
          Preventive measures to reduce the chances of infection include getting vaccinated, staying at home, wearing a
          mask in public, avoiding crowded places,
          keeping distance from others, ventilating indoor spaces, managing potential exposure durations,washing hands
          with soap and water often and
          for at least twenty seconds, practising good respiratory hygiene, and avoiding touching the eyes, nose, or
          mouth with unwashed hands.
          Those diagnosed with COVID‑19 or who believe they may be infected are advised by the CDC to stay home except
          to get medical care,
          call ahead before visiting a healthcare provider, wear a face mask before entering the healthcare provider's
          office and when in any room or
          vehicle with another person, cover coughs and sneezes with a tissue, regularly wash hands with soap and water
          and avoid sharing personal household items.
        </p>
        <ul>
          <li>
            <h4>Hand-Washing and Hygiene</h4>
            <p>
              Thorough hand hygiene after any cough or sneeze is required.
              The WHO also recommends that individuals wash hands often with soap and water for at least twenty seconds,
              especially after going to the toilet or when hands are visibly dirty, before eating and after blowing
              one's nose.
              When soap and water are not available, the CDC recommends using an alcohol-based hand sanitiser with at
              least 60% alcohol.
              For areas where commercial hand sanitisers are not readily available, the WHO provides two formulations
              for local production.
              In these formulations, the antimicrobial activity arises from ethanol or isopropanol.
              Hydrogen peroxide is used to help eliminate bacterial spores in the alcohol; it is "not an active
              substance for hand antisepsis."
              Glycerol is added as a humectant.
            </p>
          </li>
          <li>
            <h4>Face Masks and Respiratory Hygiene</h4>
            <p>
              The WHO and the US CDC recommend individuals wear non-medical face coverings in public settings where
              there is an increased risk of transmission and
              where social distancing measures are difficult to maintain.This recommendation is meant to reduce the
              spread of the disease by asymptomatic and
              pre-symptomatic individuals and is complementary to established preventive measures such as social
              distancing.
              Face coverings limit the volume and travel distance of expiratory droplets dispersed when talking,
              breathing, and coughing.
              A face covering without vents or holes will also filter out particles containing the virus from inhaled
              and exhaled air, reducing the chances of infection.
              However, if the mask includes an exhalation valve, a wearer that is infected (and possibly asymptomatic)
              may transmit the virus through the valve.
              Many countries and local jurisdictions encourage or mandate the use of face masks or cloth face coverings
              by members of the public to limit the spread of the virus.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- End Knowledge Section -->